body {
   background-color: #E6E6FA;
   color: #191970;
}
p { background-color: #A6C6DF }
#content { background-color: white }
#rule { background-color: red}
main p { 
    background-color: inherit;
}